@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
 padding: 0;
 margin: 0;
 overflow: auto;
 font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
 Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}


@layer components {
  .cp_timeline03 {
    @apply relative mx-auto;
  }
  .cp_timeline03::before {
    @apply absolute top-0 w-1 h-full bg-gray-600 left-8; /* left-30px を近似 */
  }
  .timeline_group {
    @apply relative pt-14;
  }
  .timeline_group:not(:first-child) {
    @apply mt-16;
  }
  .time_year {
    @apply absolute top-0 left-0 py-2 px-6 bg-gray-700 text-white w-full box-border;
  }
  .timeline_item {
    @apply mb-4 relative pl-20;
  }
  .timeline_item:not(:last-child) {
    @apply mb-8;
  }
  .timeline_item::before {
    @apply absolute z-[-1] left-0 w-full h-px bg-gray-600 top-1/2 -translate-y-1/2;
  }
  .time {
    @apply absolute left-0 box-border min-w-16 min-h-16 p-2 text-center text-white bg-gray-600 top-1/2 -mt-8 rounded-r-full;
  }
  .time_day {
    @apply block text-lg font-bold;
  }
  .time_month {
    @apply block uppercase text-sm;
  }
  .desc {
    @apply py-2 px-4 border-l-4 border-gray-600 rounded bg-zinc-800 text-white shadow-md text-sm;
  }
  .flag {
    @apply text-lg font-bold m-0 p-0 pb-1;
  }

  .center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
  .small-speakerdeck {
  width: 900px;   
  height: 600px;  
  overflow: hidden;
  position: relative;
}

.small-speakerdeck iframe {
  width: 100%;
  height: 100%;
  position: absolute;

}
}
