@import "tailwindcss";

@theme {
  --font-sans: 'Lato', sans-serif;
  --font-serif: 'Playfair Display', serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f3f4f6;
  font-family: var(--font-sans);
}

h1, h2, h3, .serif {
  font-family: var(--font-serif);
}

/* Hide scrollbar for cleaner UI */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
